<html>
	<head>
  <title>Betwin</title>
</head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script type="text/javascript">
    var app = angular.module('postserviceApp', []);
    app.config(function($httpProvider) {
    //Enable cross domain calls
    $httpProvider.defaults.useXDomain = true;

    //Remove the header containing XMLHttpRequest used to identify ajax call
    //that would prevent CORS from working
    delete $httpProvider.defaults.headers.common['X-Requested-With'];
});
   app.controller('getserviceCtrl', function ($scope, $http) {
            $http({
                    method: "GET",
                    url: "http://169.254.169.254/latest/meta-data/public-hostname"}).then(function successCallBack(response) {
                            console.log(response.text)
                            console.log(response)
                            console.log(response.data)
                            var publicHostname = response.data
                            url = `http://${publicHostname}:5000/bet`
                        }, function errorCallback(response) {
                                $scope.msg = response.text
                                url = "0.0.0.0"
                        });
   });


    app.controller('postserviceCtrl', function ($scope, $http) {
	//requests.get("http://169.254.169.254/latest/meta-data/public-hostname").text

	$scope.one = null;
        $scope.cross = null;
        $scope.two = null;
        $scope.bonus = null;
        $scope.postdata = function (one, cross, two, bonus) {
            var data = {
                "1": one,
                "X": cross,
                "2": two,
                "bonus": bonus
            };

            console.log(data)
		$http({method: "POST", url: url, data: JSON.stringify(data), headers: {"Content-Type": "application/json"}}).then(function (response) {
                if (response.data) 
                    $scope.msg = "Post data submitted successfully!";
		    $scope.bonus = parseInt(response.data.bonus);
		    $scope.crossBet = parseInt(response.data.crossBet) + $scope.bonus;
		    $scope.oneBet = response.data.oneBet;
		    $scope.twoBet = response.data.twoBet;
		    $scope.winningsOnCross = response.data.winningsOnCross;
		    $scope.winningsOnOne = response.data.winningsOnOne;
		    $scope.winningsOnTwo = response.data.winningsOnTwo;
                }, function (response) {
                    $scope.msg = "Service does not exist";
                    $scope.statusval = response.status;
                    $scope.statustext = response.msg;
                    $scope.headers = response.headers();
                
            })
        }
    })
    </script>
    <body style="background-color: #f7f7f7 ;">
        <div style="width: 800px; margin-left: auto; margin-right: auto;">
        <div ng-app="postserviceApp" ng-controller="postserviceCtrl">
            <nav class="navbar navbar-light bg-light">
                <span class="navbar-brand mb-0 h1">Betwin</span>
              </nav>
            <form>
                <div class="row">
                  <div class="col">
                    <input type="text" ng-model="one" class="form-control" placeholder="1">
                  </div>
                  <div class="col">
                    <input type="text" ng-model="cross" class="form-control" placeholder="X">
                  </div>
                  <div class="col">
                    <input type="text" ng-model="two" class="form-control" placeholder="2">
                  </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Bonus
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">500</a>
                      <a class="dropdown-item" href="#">1000</a>
                      <a class="dropdown-item" href="#">2000</a>
                    </div>
                  </div>
                  </div>
                  <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                          Safe bet
                        </label>
                      </div>
                  </div>
                  <div class="col">
                <input value="Submit" ng-click="postdata(one, cross, two, 500)" class="btn btn-lg btn-success"/>
            </div>
                </div>
              </form>
        

        <div>
            <p>Output message: {{msg}}</p>
	    <p>With a bonus of: {{bonus}} sek</p>
	    <p>You should bet:</p>
	    <p>1: {{oneBet}} sek</p>
	    <p>X: {{crossBet}} sek</p>
	    <p>2: {{twoBet}} sek</p>
	    <p>You will win:</p>
	    <p>1: {{winningsOnOne}} sek </p>
	    <p>X: {{winningsOnCross}} sek</p>
	    <p>2: {{winningsOnTwo}} sek<p>
        </div>
</div>
</div>
    </body>
</html>
